<div class="home-container">
  <div class="home-heading">
    <h1>Welcome to the Daily Expenses</h1>
    <p>Your everyday expenditure tracker</p>
  </div>
  <%= link_to 'Login', new_user_session_path, class: "btn" %>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn" %>
</div>
